body{
    font-family: 'Raleway', sans-serif;
    background-color: #3B3F45;
    color: #ffffff;
}

.nav-link {
    display: block;
    margin-left: 0.7rem;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}

.homepage{
    border: 1px solid white;
    border-radius: 3px;
}
.active {
    border-bottom: 4px solid white !important;
}
.nav-link:hover {
    color: black;
    border-bottom: 4px solid #b1aeaedf !important;
}

.nav-link:active {
    border-bottom: 10 px solid #b1aeaedf !important;
}

.link{
    color: white;
    text-decoration: none !important;
}

.link:hover, .link:active {
    color: black;
}

.footer{
    border-top: 2px solid white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.main{
    margin-top: 50px;
}